dash==2.11.1
hyperopt==0.2.7
matplotlib==3.6.2
notebook==7.0.3
openpyxl==3.0.10
pandas==2.1.1
plotly==5.15.0
pyarrow==13.0.0
pytz==2023.3
scikit-learn==1.2.0
spacy==3.5.1
SQLAlchemy==1.4.46
xgboost==1.7.2
XlsxWriter==3.1.2
